@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('../fonts/DINNextLTPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/DINNextLTPro-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/DINNextLTPro-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Customizable font and colors */
html {
    background: #1e1e1e;
    font-family: DIN Next LT Pro;
    font-weight: bold;
    color: #ededed;
}

/* Styles for the body element */
body {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #808080;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}